<a routerLink='/films'>Volver</a>

<div class="container">
   <div class="card" *ngFor="let personaje of characters | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
      <h2 class="name"> {{personaje.name}}</h2>
      <h3>Color de Ojos : <small class="small">{{personaje.eye_color}}</small></h3>
      <h3>Genero : <small class="small">{{personaje.gender}}</small></h3>
      <span>Peliculas</span>
      <!-- <li>
            {{peliculasName}}
         </li> -->
      <!-- <div>
            <app-films-names [names]="peliculasName"></app-films-names>
         </div> -->
   </div>
</div>

<ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize"
   [collectionSize]="characters.length"></ngb-pagination>