@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
body {
  font-family: "Ubuntu", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
 flex-wrap: wrap;
  justify-content: space-around; 
  /* border: 1px solid #000000; */
}
.header{
  background-color: navy;
  padding-left: 1em;
}
.title{
  letter-spacing: 9px;
  color: #ffffff;
  text-transform: uppercase;
  font-style: italic;
  
}
.card {
  border: 1px solid #000000;
  width: 310px;
  height: auto;
  padding: 10px;
  margin-bottom: 1em;
  border-radius: 5px;
}
.cardTitle > h4 {
  margin: 5px;
  text-align: center;
}

.director {
  display: flex;
  justify-content: space-between;
}

.btnVer {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  outline: none;
  border: none;
  color: #ffffff;
  background-color: navy;
  padding: 10px;
  cursor: pointer;
}
.name{
  color: rgb(53, 56, 56);
  font-style: italic;
  font-weight: bold;
  margin-bottom: 0;
}
.link{
  text-decoration: none;
  margin-left: 1em;
}